body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-left {
    background: url('./public/Why\ Are\ Hotel\ Sheets\ So\ Tight.jpg') no-repeat center center;
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
}

.forgot-password-page {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.forgot-password-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.forgot-password-form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.forgot-password-form {
    width:50%;
    max-width: 400px;
    text-align: center;
}

.forgot-password-form .logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.forgot-password-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.forgot-password-form p {
    margin-bottom: 20px;
    font-size: 16px;
}

.forgot-password-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password-form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.forgot-password-form button:hover {
    background-color: #555;
}

.additional-links {
    margin-top: 20px;
    font-size: 14px;
}

.additional-links a {
    color: #333;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}
